@font-face {
    font-family: 'Purple Smile';
    src: url(/fuentes/Purple Smile.ttf);
}
/* primero damos estilo al body
fuente, fondo y tamaño del box */
body{
    font-family: Verdana;
    background-color: #DCD7C9;
    box-sizing: border-box;
}
/* luego al form 
fondo, bordes del fondo, color, tamano de fuente, padding, margenes y ancho*/
form{
    background-color: white ;
    border-radius: 20px;
    color: #a3a3a3;
    font-size: 15px;
    padding: 20px;
    margin: 0 auto;
    width: 210px;
    
}
/* clase subtitulos
negrita */
.subtitulos{
    
    color: #444444;
    font-weight: bold;
    margin: 0 auto;
    padding: 15px;
}
/*inputs quitamos bordes, lineas externas y establecemos ancho */
input{
    border: 0;
    outline: none;
    width: 210px; 
}
/*clase field =  bordes personalizados de inputs:
borde y padding*/
/*LAS CLASES SE LES PONE UN . AL PRINCIPIO*/
.field{
    border: solid 1px #ccc;
    height: 30px;
    border-radius: 15px;
    padding: 10px;
}
.field:focus{
    border-color: #A27B5C;
}
/*clase para los botones*/
.btn{
    border-radius: 20px;
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) ;
    box-shadow: 0 5px 4px rgba(13, 43, 36, 0.3);
}
.btn-beige{
    color: white;
    background-color: #3F4E4F;
}
.btn-beige:hover{
    background-color: #2C3639;
}
.btn-beige:active{
    background-color: #A27B5C;
}
